---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const products = await getCollection("products");
---

<Layout>
	<ul>
		{products.map((product) => (
			<li>
				<a href={`/products/${product.id}`}>{product.id}</a>
			</li>
		))}
	</ul>
</Layout>
